{% extends "::base.html.twig" %}

{% block title %}AppBundle:Sport:editSport{% endblock %}

{% block body %}
<h1>Welcome to the Sport:editSport {{ idSport }} page</h1>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			{{ form(form) }}
		</div>
	</div>
</div>

{% endblock %}
