{% extends "::base.html.twig" %}

{% block title %}AppBundle:Sport:editSport{% endblock %}

{% block body %}
<h1>Welcome to the Sport:editSport {{ idSport }} page</h1>

le nouveau nom --> {{ newName }}
{% endblock %}
