{% extends "::base.html.twig" %}

{% block title %}AppBundle:Sport:sport{% endblock %}

{% block body %}
<h1>Welcome to the Sport:sport {{ idSport }} page</h1>

Nom du sport : {{ nameSport }}

{% endblock %}
