{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            Notre Home Page
            <br>
            <a href="user/">User Page</a>
            <br>
            <a href="user/sign_in/">Sign In</a>
            <br>
            <a href="user/sign_up/">Sign Up</a>
        </div>
    </div>
{% endblock %}