{% extends "::base.html.twig" %}

{% block title %}AppBundle:Event:editEvent{% endblock %}

{% block body %}
<h1>Welcome to the Event:editEvent number {{ idEvent }} page</h1>

{{ form(formEvent) }}
<a href="#" id="add_media" class="btn btn-default">Ajout d'un media</a>

{% endblock %}
