{% extends "::base.html.twig" %}

{% block title %}AppBundle:Event:listEvent{% endblock %}

{% block body %}
<h1>Welcome to the Event:listEvent page</h1>

{% for event in allEvent %}

	Nom de l'évènement : {{ event.name }}<br>
	Description de l'évènement : {{ event.description }}<br>
	Créateur de l'évènement : {{ event.user.firstname }}<br>
	Type d'évènement : {{ event.typeEvent }}<br><br>

{% endfor %}


{% endblock %}
