{% extends "::base.html.twig" %}

{% block title %}AppBundle:Club:addClub{% endblock %}

{% block body %}
<h1>Welcome to the Club:addClub page</h1>
{{ form(formClub) }}
{{ form(formAdresse) }}
{% endblock %}
